.accordion {
    width: 50vw;
    margin: 10px auto;
}

.faq {
    background-color: #76D7C4;
}

.title h1 {
    font-size: 1.1rem;
}

.content {
    max-height: 0;
    overflow: hidden;
}

.show {
    max-height: fit-content;
}